[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
requests = "*"
flask-caching = "*"
python-decouple = "*"
flask-cors = "*"
gunicorn = "*"
flask-script = "*"
flask-bcrypt = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
